Repository IHateMyKite/UnforgivingDevices, pull requests merged in 2023-05, with the labels that each got.

#152 Animation fixes 02
  Scripts/Source/UD_AnimationManagerScript.psc
Labels: animations

#155 Small adjustments and fixes to beta 3
  PR155_b3fixes.esp
  Scripts/Source/UDCustomDeviceMain.psc
  Scripts/Source/UDItemManager.psc
  Scripts/Source/UD_API.psc
  Scripts/Source/UD_AbadonQuest_script.psc
  Scripts/Source/UD_ControlablePlug_RenderScript.psc
  Scripts/Source/UD_CustomChargPlug_RenderScript.psc
  Scripts/Source/UD_CustomDevice_EquipScript.psc
  Scripts/Source/UD_CustomDevice_NPCSlot.psc
  Scripts/Source/UD_CustomDevice_RenderScript.psc
  Scripts/Source/UD_CustomDynamicHeavyBondage_RS.psc
  Scripts/Source/UD_LeveledList_Patcher.psc
  Scripts/Source/UD_MCM_script.psc
  Scripts/Source/UD_MenuChecker.psc
  Scripts/Source/UD_MutexScript.psc
  Scripts/Source/UD_OrgasmManager.psc
  Scripts/Source/UD_ParalelProcess.psc
  Scripts/Source/UD_TrapManifest_ME_Script.psc
  Scripts/Source/UD_UserInputScript.psc
  Scripts/Source/UnforgivingDevicesMain.psc
  Scripts/Source/zadlibs_UDPatch.psc
  Seq/UnforgivingDevices.seq
  interface/translations/UnforgivingDevices_CHINESE.txt
  interface/translations/UnforgivingDevices_CZECH.txt
  interface/translations/UnforgivingDevices_ENGLISH.txt
  interface/translations/UnforgivingDevices_FRENCH.txt
  interface/translations/UnforgivingDevices_GERMAN.txt
  interface/translations/UnforgivingDevices_ITALIAN.txt
  interface/translations/UnforgivingDevices_JAPANESE.txt
  interface/translations/UnforgivingDevices_POLISH.txt
  interface/translations/UnforgivingDevices_RUSSIAN.txt
  interface/translations/UnforgivingDevices_SPANISH.txt
Labels: Compatibility, Custom Device, Balance

#159 Fixed bindings for UD_Libs in ESP
  UD_LibsBindingsFix.esp
Labels: ESP

#157 Experimental: Native function - Minigame drain
  Scripts/Source/UDCustomDeviceMain.psc
  Scripts/Source/UD_CustomDevice_NPCSlot.psc
  Scripts/Source/UD_CustomDevice_RenderScript.psc
  Scripts/Source/UD_CustomDevices_NPCSlotsManager.psc
  Scripts/Source/UD_MCM_script.psc
  Scripts/Source/UD_Native.psc
  Scripts/Source/UD_OrgasmManagerPlayer.psc
  Scripts/Source/UnforgivingDevicesMain.psc
  interface/translations/UnforgivingDevices_CHINESE.txt
  interface/translations/UnforgivingDevices_CZECH.txt
  interface/translations/UnforgivingDevices_ENGLISH.txt
  interface/translations/UnforgivingDevices_FRENCH.txt
  interface/translations/UnforgivingDevices_GERMAN.txt
  interface/translations/UnforgivingDevices_ITALIAN.txt
  interface/translations/UnforgivingDevices_JAPANESE.txt
  interface/translations/UnforgivingDevices_POLISH.txt
  interface/translations/UnforgivingDevices_RUSSIAN.txt
  interface/translations/UnforgivingDevices_SPANISH.txt
Labels: enhancement, Custom Device, experimental
