Repository IHateMyKite/UnforgivingDevices, pull requests merged in 2025-05, with the labels that each got.

#221 More Modifiers Fixes
  PR221_MoreModifiersFixes01.esp
  Scripts/Source/UD_CustomDevice_NPCSlot.psc
  Scripts/Source/UD_CustomDevice_RenderScript.psc
  Scripts/Source/UD_MCM_script.psc
  Scripts/Source/UD_MenuTextFormatter.psc
  Scripts/Source/UD_ModOutcome_BlockMinigame.psc
  Scripts/Source/UD_ModOutcome_LockDevice.psc
  Scripts/Source/UD_ModTrigger_ItemDemand.psc
  Scripts/Source/UD_ModTrigger_ItemObtain.psc
  Scripts/Source/UD_ModTrigger_Kill.psc
  Scripts/Source/UD_ModTrigger_Orgasm.psc
  Scripts/Source/UD_ModTrigger_SkillIncrease.psc
  Scripts/Source/UD_ModTrigger_SpellCast.psc
  Scripts/Source/UD_ModTrigger_SpellHit.psc
  Scripts/Source/UD_ModTrigger_StatEvent.psc
  Scripts/Source/UD_ModTrigger_WeaponHit.psc
  Scripts/Source/UD_Modifier.psc
  Scripts/Source/UD_ModifierManager_KillMonitor.psc
  Scripts/Source/UD_ModifierManager_Script.psc
  Scripts/Source/UD_ModifierManager_SkillMonitor.psc
  Scripts/Source/UD_ModifierStorage.psc
  Scripts/Source/UD_Modifier_Combo.psc
  Scripts/Source/UD_Modifier_Demanding.psc
  Scripts/Source/UD_Patcher.psc
  Scripts/Source/UD_Patcher_ModPreset.psc
  Scripts/Source/UD_Patcher_ModPreset1_Loose.psc
  Scripts/Source/UnforgivingDevicesMain.psc
  docs/UD_Modifiers.xlsx
  interface/translations/UnforgivingDevices_ENGLISH.txt
Labels: bug, Major, Blocker, Balance, ESP

#232 Fix issues #230 and #231
  interface/translations/UnforgivingDevices_CHINESE.txt
  interface/translations/UnforgivingDevices_CZECH.txt
  interface/translations/UnforgivingDevices_FRENCH.txt
  interface/translations/UnforgivingDevices_GERMAN.txt
  interface/translations/UnforgivingDevices_ITALIAN.txt
  interface/translations/UnforgivingDevices_JAPANESE.txt
  interface/translations/UnforgivingDevices_POLISH.txt
  interface/translations/UnforgivingDevices_RUSSIAN.txt
  interface/translations/UnforgivingDevices_SPANISH.txt
  textures/Unforgiving devices/BlackGoo_d.dds
  textures/Unforgiving devices/BlackGoo_n.dds
Labels: bug, Major, Blocker

#235 Fix BRRF compatibility. Removed error log
  PR235_Fix233_234.esp
  Scripts/Source/UDCustomDeviceMain.psc
  Scripts/Source/UD_CustomDevice_NPCSlot.psc
  Scripts/Source/UD_UserInputScript.psc
Labels: bug, Custom Device, Minor
